<div class="container card-details-view">
    <h1 class="page-title center">Melbourne</h1>
    <div class="page-nav-profile">
        <div class="page-nav-user">
                <span class="user-icon center">
                  <img id="user-icon" src="/assets/icon/user.png" width="25" height="25">
               </span>
            <div class="ml-10">Hello <span id="userNameSpan"></span></div>
        </div>
        <a href='/home/home.html'>back</a>
    </div>
    <div class="card-details mt-20" style="background: <%= cardData[0].cardBackground %>;">
        <div class="card-content" >
            <div class="card-balance">
                <div class="card-label">Balance</div>
                <div class="card-amount"><%= cardData[0].balance %></div>
            </div>
            <div class="card-icon">
                <img src="/assets/icon/public-transport.png" width="35" height="35">
            </div>   
        </div>
        <div class="card-number mt-10">
            <%= cardData[0]._id %>
        </div>
        <div class="card-barcode">
            <svg id="barcode"></svg>
        </div>
        <div class="card-bottom mt-10">
            <span> <%= cardData[0].city %></span>
            <span> expire <%= cardData[0].expire %></span>
        </div>
    </div>
    <div class="create-time mt-20">
        Create Time:  <%= cardData[0].createTime %>
    </div>
    <div class="opertation-bar mt-20">
        <a href="#">Withdraw</a>
        <a href="#">Recharge</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.3/dist/JsBarcode.all.min.js"></script>
<script>
    let cardNum = $('.card-number').text();
   JsBarcode("#barcode", cardNum,{
    lineColor: "#000",
    width:0.5,
    height: 30,
    displayValue: false
   });

   $.getJSON('/home/api/idPayload', function (id_token) {
       $('#userNameSpan').html(id_token.name);
       $('#user-icon').attr('src',id_token.picture);
   });
</script>

