<div class="container card-details-view">
    <h1 class="page-title center">Payment</h1>
    <div class="payment-view">
        <div class="page-nav-profile">
            <div class="page-nav-user"></div>
            <a href='/home/home.html'>Cancel</a>
        </div>
        <div class="payment-details" data-color="<%= paymentData[0].cardBackground %>">
            <div class="center">
                <img src="/assets/icon/payment-method.png" width="55">
                <p id="transaction-type" data-currency ="<%= paymentData.currency.toLowerCase() %>"  class="text-cap-all text-gray">recharge</p>
                <p id="business-name" class="text-light-black" data-country="<%= paymentData[0].country %>">DT Cards(<%= paymentData[0].country %>) - <%= paymentData[0].city %> </p>
                <div class="currency-amount"><p class="currency-code"><%= paymentData.currency%></p><p id="payment-amount" class="pay-amount" data-id="<%= paymentData[0]._id %>"><%= parseFloat(paymentData.price).toFixed(2) %></p></div>
            </div>
        </div>

        <div class="center mt-30">
            <button type="button" class="button-primary" onClick="window.elementsModal.toggleElementsModalVisibility();">Pay now</button>
        </div>
    </div>
    <div class="completed-view hidden">
        <div class="payment-details">
            <div class="center">
                <img src="/assets/icon/check.png" width="100">
                <div class="currency-amount">
                    <p class="currency-code"><%= paymentData.currency%></p>
                    <p id="suc-amount" class="pay-amount success"></p>
                </div>
                <p class="text-light-black">Recharge for DT Cards(<%= paymentData[0].country %>) - <%= paymentData[0].city %></p>
                <p id="receipt-no" class="text-light-black">Receipt No: N0378743767</p>
                <p id="create-time" class="text-light-black"></p>
            </div>
        </div>
        <div class="center mt-30">
            <a href="/home/home.html" class="button-primary" >Home</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="/stripePay.js"></script>
<script>
    let transaction_type = $('#transaction-type').text().trim();
    let amount = parseFloat($('.pay-amount').text());
    let cardId = $('#payment-amount').data('id');
    let business_name = $('#business-name').text();
    let currency = $('#transaction-type').data('currency');

    $.getJSON('/home/api/idPayload', function (id_token) {
        window.elementsModal.create({
            items: { price: amount, quantity: 1,type:transaction_type, },
            currency: currency,
            businessName:business_name,
            productName: transaction_type,
            customerEmail: id_token.email,
            customerName:id_token.name
        });
        // when the page is loaded
        window.elementsModal.toggleElementsModalVisibility();
    });
</script>

