<div class="transac-history-page">
    <div class=" container">
        <h1 class="page-title center">
            Transactions
        </h1>
        <div class="page-nav-profile">
            <div class="page-nav-user">
                <span class="user-icon center">
                    <img id="user-icon" src="/assets/icon/user.png" width="25" height="25">
                </span>
                <div class="ml-10"> Hello <span id="userNameSpan"></span></div>
            </div>
            <div class="ml-130"><a href="/home/home.html">Back</a></div>
        </div>
        <% for (var i=0; i <transacData.length; i++) { %>
            <div class="transac-date">

                <span class="calender-icon">
                    <img id="calander-icon" src="/assets/icon/calendar-image.png" width="25px" height="25px">
                    <%= formattedDate %>
                </span>
            </div>
            <div class="transac-list mt-20">
                <div class="transac-item">
                    <div class="t-item-left">
                        <img src="/assets/icon/payment-method.png" width="30" height="30">
                    </div>
                    <div class="t-item-right">
                        <div class="t-item-title">
                            <%= transacData[i].type %>
                        </div>
                        <div class="t-item-info">
                            <a href="/transacDetailData?transationId=<%= transacData[i]._id %> ">Details</a>
                            <% if (transacData[i].type==='withdraw' ) { %>
                                <span class="price">
                                    - <%= transacData[i].currency.toUpperCase() %>
                                        <%= transacData[i].amount / 1000 %>
                                </span>
                                <% } else {%>
                                    <span class="price">
                                        + <%= transacData[i].currency.toUpperCase() %>
                                            <%= transacData[i].amount / 1000 %>
                                    </span>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
</div>